.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.actions {
    width: 10.7rem;
}

.icon-delete {
    color: orangered;
}

.edit, .delete {
    line-height: 0;
    padding: 0 1rem;
    margin: 0;
}

.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    margin: 1.6rem;
}

#bookmark-table {
    flex: 1;
}
